html {
  font-size: 10px;
}
.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.result {
  font-size: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.3rem;
  /* grid-template-rows: repeat(4, 1fr); */
}

@media screen and (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
  }
}
